<div class="link-home">
  <a routerLink="/">← Voltar para a Tela Inicial</a>
</div>

<div class="container">
  <h1>Gerenciamento de Usuários</h1>

  <div *ngIf="mensagemErro" class="alert alert-danger">{{ mensagemErro }}</div>
  <div *ngIf="mensagemSucesso" class="alert alert-success">{{ mensagemSucesso }}</div>

  <form (submit)="adicionarUsuario()">
    <h2>Adicionar Novo Usuário</h2>
    <label for="nome">Nome:</label>
    <input id="nome" type="text" [(ngModel)]="novoUsuario.nome" name="nome" required />

    <label for="email">Email:</label>
    <input id="email" type="email" [(ngModel)]="novoUsuario.email" name="email" required />

    <label for="telefone">Telefone:</label>
    <input id="telefone" type="text" [(ngModel)]="novoUsuario.telefone" name="telefone" required />

    <button type="submit">Adicionar</button>
  </form>

  <h2>Lista de Usuários</h2>
  <ul>
    <li *ngFor="let usuario of usuarios">
      {{ usuario.nome }} - {{ usuario.email }} - {{ usuario.telefone }}
    </li>
  </ul>
</div>
